.body {
    background: #f1f1f1;
}

h1{
    text-align: center;
    color: #033d89;
}

.quote {
    background: #e1e1e1;
    border: 1px solid #adadad;
    margin-bottom: 10px;
    border-radius: 4px;
}